.navbarSection {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1260px;
}

.navLeft {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3rem;
}

.navRight,
.actionsButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navList {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navList .navElement {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.navElement {
    display: flex;
    align-items: center;
    font-family: Epilogue;
    color: var(--gray500);
    font-size: 14px;
    cursor: pointer;
}

.navElement:hover {
    color: var(--gray950);
}

button.login {
    border: none;
}

button.login,
button.register {
    background: none;
    cursor: pointer;
    color: var(--gray500);
    transition: all 0.2s ease;
}

button.login:hover {
    color: var(--gray950);
}

button.register:hover {
    color: var(--gray950);
    border-color: var(--gray950);
}

button.register {
    border: 1px solid var(--gray500);
    border-radius: 10px;
    padding: 8px 14px;
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: -20px;
    width: 150px;
    padding: 0px 20px;
    display: none;
    background: white;
    color: var(--gray500);
    border-radius: 10px;
    font-family: Epilogue;
    font-size: 14px;
}

.dropdownMenu > p {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.dropdownMenu > p:hover {
    color: var(--gray950);
}

.dropdownMenu > p > img {
    width: 15px;
    height: 15px;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.menuBtn {
    display: none;
}

.menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    background-color: #00000099;
}

.menuIns {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100vh;
    padding: 25px;
    background-color: #ffffff;
    color: var(--gray500);
    font-family: Epilogue;
}

.menuClose {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    height: 30px;
    width: 30px;
    color: #000000;
}

.menuIns p {
    margin-bottom: 20px;
    font-size: 14px;
}

.menuList {
    margin-top: 30px;
}

.menuActionsButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 50px;
}

.menuDropdownMenu {
    display: none;
    margin: 10px 20px;
}

.menuDropdownMenu > p {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .navList {
        display: none;
    }
    .actionsButtons {
        display: none;
    }

    .navbar {
        margin: 0 10px;
    }

    .menuBtn {
        display: block;
    }
}